clean_env/
__pycache__/
*.pyc

models/
saved_emotion_model/
facial_emotion/face_model/

*.keras
*.h5
*.pt
*.pth
*.bin

shared_camera.jpg
shared_emotion.json
global_chat.json
online_users.json